.mainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main {
  flex: 1;
  background: var(--surface-base);
  overflow-y: auto;
}

.page {
  padding-block: 120px;
}

.pageContainer {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer {
  font-size: 15px;;
  background: var(--gradient-footer);
  border-top: 1px solid var(--border-color);
  color: var(--text-main);
}

.footerContainer {
  max-width: 1480px;
  padding: 15px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

