:root {
  --brand-primary: #264fc8;
  --surface-base: linear-gradient(180deg, #2b303b 0%, #1e2229 100%);
  --surface-card: linear-gradient(145deg,
      #4a5568 0%,
      #333e50 60%,
      rgb(138, 174, 246) 150%);
  --text-main: #f8f9fa;
  --text-muted: #a0aab8;
  --status-success: #28a745;
  --status-error: #ff0019;

  --surface-header: #1e1e24;
  --surface-footer: #18181d;
  --surface-btn: rgb(63, 124, 204);
  --btn-border: rgb(30, 39, 83);

  --surface-result-card: rgb(89, 125, 166);

  --card-label: rgb(54, 50, 50);

  --gradient-header: linear-gradient(180deg, #252830 0%, #1e1e24 100%);
  --gradient-menu: linear-gradient(180deg, #444957 0%, #32323c 100%);
  --gradient-footer: linear-gradient(0deg, #151518 0%, #18181d 100%);

  --error-bg: linear-gradient(145deg, #722c2c 0%, #4c1d1d 100%);
  --error-border: #7a2a2a;
  --error-text: #ffcdd2;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inhereit;
}

body {
  color: var(--text-main);
  background: var(--surface-base);
}

.darkLayout {
  --brand-primary: #264fc8;
  --surface-base: linear-gradient(180deg, #2b303b 0%, #1e2229 100%);

  --surface-card: linear-gradient(145deg,
      #4a5568 0%,
      #333e50 60%,
      rgb(138, 174, 246)  150%);
  --text-main: #e0e0e0;
  --text-muted: #a0a0a0;
  --accent: #0d6efd;

  --surface-header: #1e1e24;
  --surface-footer: #18181d;
  --surface-btn: rgb(63, 124, 204);
  --btn-border: rgb(30, 39, 83);

  --surface-result-card: rgb(89, 125, 166);;

  --card-label: rgb(54, 50, 50);

  --gradient-header: linear-gradient(180deg, #252830 0%, #1e1e24 100%);
  --gradient-menu: linear-gradient(180deg, #444957 0%, #32323c 100%);
  --gradient-footer: linear-gradient(0deg, #151518 0%, #18181d 100%);

  --error-bg: linear-gradient(145deg, #722c2c 0%, #4c1d1d 100%);
  --error-border: #7a2a2a;
  --error-text: #ffcdd2;
}

@media (prefers-color-scheme: light) {
  :root {
    --brand-primary: #264fc8;
    --surface-base: linear-gradient(180deg, #f0f2f5 0%, #e1e4e8 100%);
    --surface-card: linear-gradient(145deg,
        #d6dde4 0%,
        #cedef6 70%,
       rgb(138, 174, 246)  100%);
    --text-main: #121212;
    --text-muted: #6c757d;
    --accent: #0056b3;

    --surface-header: #f8f9fa;
    --surface-footer: #f1f3f5;
    --surface-btn: rgb(63, 124, 204);
    --btn-border: rgb(30, 39, 83);

    --surface-result-card: rgb(166, 190, 218);

    --card-label: rgb(54, 50, 50);

    --gradient-header: linear-gradient(180deg, #ffffff 0%, #f1f3f5 100%);
    --gradient-menu: linear-gradient(180deg, #d4d4d4 0%, #d8d8d8 100%);
    --gradient-footer: linear-gradient(0deg, #ffffff 0%, #f1f3f5 100%);

    --error-bg: linear-gradient(145deg, #fcccd1 0%, #ffffff 100%);
    --error-border: #7a2a2a;
    --error-text: #4a1a1a;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-primary: #264fc8;
    --surface-base: linear-gradient(180deg, #2b303b 0%, #1e2229 100%);

    --surface-card: linear-gradient(145deg,
        #4a5568 0%,
        #333e50 60%,
        rgb(138, 174, 246)  150%);
    --text-main: #e0e0e0;
    --text-muted: #a0a0a0;
    --accent: #0d6efd;

    --surface-header: #1e1e24;
    --surface-footer: #18181d;
    --surface-btn: rgb(63, 124, 204);
    --btn-border: rgb(30, 39, 83);

    --surface-result-card: rgb(89, 125, 166);;

    --card-label: rgb(54, 50, 50);

    --gradient-header: linear-gradient(180deg, #252830 0%, #1e1e24 100%);
    --gradient-menu: linear-gradient(180deg, #444957 0%, #32323c 100%);
    --gradient-footer: linear-gradient(0deg, #151518 0%, #18181d 100%);

    --error-bg: linear-gradient(145deg, #722c2c 0%, #4c1d1d 100%);
    --error-border: #7a2a2a;
    --error-text: #ffcdd2;

  }
}